/*

*/


body
{
    background-color: green;
}
.container-fluid
{
    background: linear-gradient(35deg,orange, purple);
    height: 75em;
}

.formCol
{
    margin-top: 5em;
    margin-bottom: 5em;
    background: linear-gradient(35deg, darkgray, dimgray);
    border-radius: 35px;
    padding: 2.5em;
}

#warning
{
    display: none;
    color: darkred;
    padding: 1.3em;
    font-size: 1.5em;
}

.radio
{
    padding-top: 3em;
}


.btnSub
{
    margin-left: 42%;
}

#duckSelect
{
    margin-top: 2em;
    margin-bottom: 3em;
    width: 35%;
}
