/*

*/


body
{
    background-color: green;
}
.container-fluid
{
    background: linear-gradient(35deg,orange, purple);
}

.formCol
{
    margin-top: 5em;
    margin-bottom: 5em;
    background: linear-gradient(35deg, darkgray, dimgray);
    border-radius: 35px;
    padding: 2.5em;
}

.radio
{
    padding-top: 3em;
}


.btnSub
{
    margin-left: 42%;
}
